    <style>
    nav ul {
    display:flex;
    background-color:Green;
    color:yellow;
    }
        ul li {
          display:flex;
        text-align:center;
        color:yellow;
        list-style-type:none;
    }
   nav ul li a{
          display:flex;
        text-align:center;
        color:yellow;
        text-decoration:none;
  margin:10px;
  text-direction:rtl;
       justify-content:space-around;
       padding:20px;
    }
    </style>
    <head>
    <meta  charset='UTF-8'>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>home page is here my friend</title>
    <nav>
    <ul>
        <li> <a href="#">Home</a> </li>
        <li> <a href="#">About</a> </li>
        <li> <a href="#">ContactUs</a> </li>
        <li> <a href="#">Show</a> </li>
        <li> <a href="#">All</a> </li>
    </ul>
    </nav>
    </head>