{% include 'base.html' %}
{% include 'header.html' %}
{%  block content %}

<h1>
    تعديل بيانات المعلم: {{ st.name }}
</h1>

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="تحديث البيانات" style="background-color:rgba(83, 5, 122, 1);color:white;font-size:18px;padding:10px;">
</form>
 {%  endblock content %}
 {% include 'footer.html' %}