{% extends 'base.html' %}

{% block title %}تعديل بيانات الطالب - نظام إدارة المدرسة{% endblock %}

{% block content %}
<div class="card">
    <h2>تعديل بيانات الطالب: {{ st.name }}</h2>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <div style="text-align: center; margin-top: 20px;">
            <button type="submit" class="btn" style="background-color:rgba(83, 5, 122, 1);color:white;font-size:18px;padding:10px;">تحديث البيانات</button>
        </div>
    </form>
</div>
{% endblock %}